*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(137, 148, 158);
    font-family: sans-serif;
    /* overflow: hidden; */
    user-select: none;
} 

a{
    text-decoration: none;
    color: white;
}



.navbar{
    position: fixed;
    width: 100vw;
    background-color: #212529;
    color: white;
    padding: 25px 60px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.cart{
    position: absolute;
    background-color: #fff;
    color: #212529;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
}

.emoji{
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.cartAmount{
    font-size: 16px;
    color: white;
    background-color: red;
    position: absolute;
    right: -10px;
    top: -15px;
    padding: 3px;
    border-radius: 4px;
}

.shop{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: auto;  */
    /* margin-top: 20vh; */
}

@media (max-width: 1000px){
    .shop{
    grid-template-columns: repeat(1, 223px);
    }
}
.item{
    border: 2px solid black;
    border-radius: 4px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    /* border-bottom: 1px solid black; */
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 2px 2px;
}
.add,.min{
    height: 30px;
    width: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.quantity{
    font-size: 25px;
}

div > img{
    align-items: center;
    margin: auto;
    position: relative;
    display: flex;
    padding: 0;
}

div > h3,p{
    text-align: center;
    padding-bottom: 5px;
    margin-top: -5px;
    border-bottom: 1px solid black;
    
}



.text-center{
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
    z-index: 1;
}

.HomeBtn{
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.emoji2{
    margin-top: -8px;
    color: red;
    font-weight: bold;
    text-align: center;


}



.shopping-cart{
    /* padding-top: 200px; */
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.cart-item{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    opacity: .8;

}

.cart-item img{
    width: 100%;
    margin-left: 0;
    /* flex: .5; */
}

.title-price-x{
    width:  195px;
    display: flex;
    justify-content: space-between;
    /* margin-left: -100px; */
    margin-top: 5px;
    
}

.title-price{
    width: 180px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    /* border: 1px solid red; */
}

.mamba{
    margin-left: 0;
    /* border: 1px solid black; */
    text-align: left;

}

.cart-item-price{
    background-color: #212529;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.multi{
    text-align: left;
    margin-top: 12px;
    padding-top: 6px;
    border-top: 2px solid black;
    margin-bottom: -12px;
}


.check-out,.remove-all{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-all{
    background-color: maroon;
}

.check-out{
    background-color: limegreen;
}



